.delete {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 500px;

  button {
    margin-top: 10px;
    background-color: #eb5757;
    padding: 12px 15px;
    color: #fff;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
